<h2>Data Binding</h2>

<h3>Let's Bind the data from SOURCE TO VIEW using INTERPOLATION</h3>

<p>{{name}}</p>

<hr>

<h3>Let's Bind the data from  SOURCE TO VIEW using PROPERTY BINDING: Bind the valur using attribute</h3>

<a [href]="url">Connect Using Google</a>

<hr>


<h1>Print JSON Array</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>NAME</th><th>PRICE</th><th>AVAILABLE</th><th>RATING</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td [class.inStock]="true">{{p.name}}</td>
            <td [style.font-weight]="we">{{p.price}}</td>
            <td>{{p.available}}</td>
            <td>{{p.ratings}}</td>
        </tr>
    </tbody>
</table>


<hr>
<button class="btn btn-primary" (click)="show()">Show Div</button>

<div *ngIf="flag">
    This is my div
</div>
